body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* subar */
}


header{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    z-index: 999;
    background-color: #30a343;
}
.innerHeader{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.Navigation{
    display: flex;
    width: 80%;
}

/* 로고 */
.logo{
    object-fit: cover;
    height: 100px;
}

/* 드롭다운 메뉴 */
.menu{
    display: flex;
    width: 80%;
    overflow: hidden;
}

.menu > li{
    width: 25%;
    text-align: center;
    line-height: 40px;
    /* position: relative; */
    float: left;
}

.menu > li > a{
    color: #fff;
    width: 100%;
}

.submenu{
    padding: 0;
    height: 0;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    /* position: absolute; */
}
.submenu > li{
    width: 100%;
    line-height: 50px;  
    display: flex;
    text-align: center;
}

.submenu > li > a{
    color: #000;
    width: 100%;
}

/* 드롭다운메뉴 hover */

.menu > li:hover{   
    transition-duration: 1ms;
    background-color: #05ff2f;
}

.menu > li:hover .submenu {
    height: 200px;
    background-color: #238734;
    transition-duration: 0.7s;
}

.submenu > li:hover > a {
    margin: 0;
    width: 100%;
    background-color: #b6ffc2;
    transition-duration: 1s;
}
/* 버튼 */

.menus{
    margin-right: 20px; 
    display: flex;
    gap: 10px;
}
.menus > input{
    height: 30px;
    background-color: #ffffff;  
    cursor: pointer;
    font-weight: 500;
    border-radius: 4px;
    border: 0;
    margin: 10 20;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
}
/* 버튼hover */
.menus > input:hover{
    background-color: #2cc345;
}


/* visual 영역 */

.visual{
    margin-top: 100px;
    width: 100%;
}

.visual-wrap{
    width: 100%;
    margin: 10px auto;
    position: relative;
    vertical-align: middle;
}

.visual > img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}  


.visual-txt{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
    z-index: 99;
    text-align: center;
}
/* .visual-txt p{
    
} */





footer{
    color: white;
    background-color: #000  ;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    position: relative;
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
}